@using AbpSimpleCRUD.Web.Startup
@model AbpSimpleCRUD.Web.Models.Clients.ClientViewModel

@{
    ViewBag.CurrentPageName = PageNames.Clients;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ClientViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(client => client.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(client => client.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(client => client.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(client => client.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(client => client.Age)
        </dt>
        <dd>
            @Html.DisplayFor(client => client.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(client => client.Id)
        </dt>
        <dd>
            @Html.DisplayFor(client => client.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
